
/*重置*/
body,ul,li,img,p,span
{
    margin: 0;
    padding: 0;
}
 .nav_2{
	width: 1050px;
	height: 35px;
    margin:  0 auto;
} 
.nav_2 .left_nav
{
    float: left;
    width: 300px;
    height: 35px;
    margin-top: 30px;
}
.nav_2 .left_nav li
{
    line-height: 35px;
    float: left;
    width: 50px;
    height: 35px;
    margin-right: 5px;
    padding: 0 5px;
    /*列表样式*/
    list-style: none;
    text-align: center;
}
.nav_2 .left_nav li a
{
    display: block;
	color: #555;
	background-color: #eee;
	border-color: transparent;
    font-size: 8px;
    height: 35px;
    text-decoration: none;
}
.nav_2 .left_nav li a:hover
{
    /*取消下划线 */
    text-decoration: none;

    color: #fff;
}
/* ------------------------------ */
.nav_2 .right_nav
{
    float: right;
    width: 560px;
    height: 35px;
    margin-top: 30px;
    display: inline;
    
    
}
.nav_2 .right_nav li
{
    /*文字居中，设置行距*/
    line-height: 35px;
    float: left;
    width: 60px;
    height: 35px;
    margin-right: 10px;
    /*列表样式*/
    list-style: none;
    text-align: center;
    position:relative;
    display: inline;
    z-index: 100;
}
.nav_2 .right_nav li a
{	display: block;
	color: #555;
	background-color: #eee;
	border-color: transparent;
    font-size: 8px;
    height: 35px;
    text-decoration: none;
}
.nav_2 .right_nav li a:hover
{
    /*取消下划线 */
    text-decoration: none;
    color: #fff;
}
/* ------------------------ */
.hidden_1{
	position: absolute;
	top:19px;
	display:none;

}
.hidden_1 dl{
	width: 100px;
	height: 500px;
}
.hidden_1 dl dt {
	float: left;
	list-style: none;
}
.hidden_1 dl  dt a{
	display: block;
	font-size: 9px;
	text-decoration: none;
	color: #555;
	background-color: #eee;
	padding: 3px 10px;
}
.hidden_1 dl dt a:hover{

	color: #fff;
}
.hidden_2{
	position: absolute;
	top:19px;
	/*/right: 488px;*/
	display: none;

}
.hidden_2 dl{
	width: 100px;
	height: 500px;
}
.hidden_2 dl dt {
	float: left;
	list-style: none;
}
.hidden_2 dl  dt a{
	display: block;
	font-size: 9px;
	text-decoration: none;
	color: #555;
	background-color: #eee;
	padding: 3px 10px;
}
.hidden_2 dl dt a:hover{

	color: #fff;
}
.hidden_3 {
    display:none;
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: #eee;
    top: 19px;
    /*/left: 1012px*/
    
}
.hidden_4{
	position: absolute;
	width: 120px;
    background-color:#eee;
    top:35px;
    /*left:1153px;*/
    display: none;
}
.hidden_4 h3{
    height: 20px;
    line-height: 20px;
    width: 100px;
    border-bottom: 1px solid #EEEEEE;
}
.hidden_4 dl dt {
	float: left;
	list-style: none;
	width:60px;
}
.hidden_4 dl  dt a{
	display: block;
	font-size: 10px;
	text-decoration: none;
	color: #555;
	background-color: #eee;
	padding: 3px 10px;
}
.hidden_4 dl dt a:hover{

	color: #fff;
}
.clear{
    clear: both;
}
.hidden_5{
    position: absolute;
    width:600px;
    background-color: #eee;
    top:35px;
    right:0px;
    /*right:250px;*/
    display: none;

}
.hidden_5 .hot_1{
    border-right: 1px solid  #000;
    width: 115px;
    float:left;

}

.hidden_5 .hot_1 li{
    line-height: 35px;
    float: left;
    width: 20px;
    height: 35px;
    margin-right: 5px;
    padding: 0 5px;
    list-style: none;
    text-align: center;
}
.hidden_5 .hot_1 li a {
    display: block;
    color: #555;
    background-color: #eee;
    border-color: transparent;
    font-size: 10px;
    height: 35px;
    text-decoration: none;
}
.hidden_5 .hot_1 li a:hover{
    text-decoration: none;
    color: #fff;
}
.hidden_5 h2{
    border-bottom: 1px solid #EEEEEE;
    height: 24px;
    line-height: 24px;
    width: 100px;

}
.hidden_5 .hot_2{
    width:130px;
    border-right: 1px solid #000;
    margin-left: 20px; 
    float: left;  
}
.hidden_5 .hot_2 li{
    line-height: 35px;
    float: left;
    width: 20px;
    height: 35px;
    margin-right: 5px;
    padding: 0 5px;
    list-style: none;
    text-align: center;
}
.hidden_5 .hot_2 li a {
    display: block;
    color: #555;
    background-color: #eee;
    border-color: transparent;
    font-size: 10px;
    height: 35px;
    text-decoration: none;
}
.hidden_5 .hot_2 li a:hover{
    text-decoration: none;
    color: #fff;
}
.hidden_5 .hot_3{
    float: left;
    width: 210px;
    border-right: 1px solid #000;
}
.hidden_5 .hot_3 li{
    list-style: none;
    float: left;
    width: 90px;
    height: 35px;
    margin-right: 5px;
    padding: 0 5px;
    text-align: center;
}
.hidden_5 .hot_3 li a{
    display: block;
    color: #555;
    background-color: #eee;
    border-color: transparent;
    font-size: 10px;
    height: 35px;
    text-decoration: none;
}
.hidden_5 .hot_3 li a:hover{
    text-decoration: none;
    color:#fff;

}
.hidden_5 .hot_4{
    float: left;
    width: 100px;
    border-right: 1px solid #000;
}
.hidden_5 .hot_4 li{
    list-style: none;
    float: left;
    width: 90px;
    height: 35px;
    margin-right: 5px;
    padding: 0 5px;
    text-align: center;
}
.hidden_5 .hot_4 li a{
    display: block;
    color: #555;
    background-color: #eee;
    border-color: transparent;
    font-size: 10px;
    height: 35px;
    text-decoration: none;
}
.hidden_5 .hot_4 li a:hover{
    text-decoration: none;
    color:#fff;

}
#inputSerach.focus{
    border:1px solid #00A5FF;

}